@font-face {
    font-family: 'pacoregular';
    src: url('/fonts/paco-webfont.woff2') format('woff2'),
        url('/fonts/paco-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.bg-header {
    background-image: url('/img/Phantom-Header.jpg');
}

.bg-introduction {
    background-image: url('/img/phantom-section-voice.jpg');
}

.bg-know-how {
    background-image: url('/img/know-how-bg.jpg');
}

.bg-finalizado {
    background-image: url('/img/phantom-end-section.jpg');
}


.h-header {
    height: calc(100vh - 95px);
}

.react-player {
    aspect-ratio: 16 / 9;
}

.grid-col-50-100 {
    display: grid;
    grid-template-columns: 50px 1fr;
}

@media (max-width: 768px) {
    .h-header {
        height: calc(100vh - 79px);
    }
}